@font-face {
	font-family: "iconfont"; /* Project id 2606015 */
	src: url('//at.alicdn.com/t/font_2606015_o2u8n4pvghj.woff2?t=1623561376359') format('woff2'),
		 url('//at.alicdn.com/t/font_2606015_o2u8n4pvghj.woff?t=1623561376359') format('woff'),
		 url('//at.alicdn.com/t/font_2606015_o2u8n4pvghj.ttf?t=1623561376359') format('truetype');
  }
  

  .icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
	font-family: 'iconfont' !important;
	font-size: inherit;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
  
  .icon-download:before {
	content: "\e640";
  }
  
  .icon-wechat:before {
	content: "\e660";
  }
  
  .icon-user:before {
	content: "\e64d";
  }
  
  .icon-blog:before {
	content: "\e63a";
  }
  
  .icon-edit:before {
	content: "\e63d";
  }
  
  .icon-photos:before {
	content: "\e64a";
  }
  
  .icon-email:before {
	content: "\e64b";
  }
  
  .icon-github:before {
	content: "\e65e";
  }
  
  .icon-twitter:before {
	content: "\e65f";
  }